<!-- Header -->
  
<header class="grid-x grid-padding-x grid-padding-y padding-1 align-justify align-middle">
  <div class="auto cell swup-transition-fade" id="maintest">
  {% if page.layout == "page" %}
  <a href="/" class="h4">{{page.title}}{% if page.client %}<span class="medium-gray padding-left-1 show-for-large">{{page.client}}</span>{% endif %}</a>
  {% else %}
  <a href="/"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  {% endif %}
  </div>
  <div class="shrink cell">
    <a data-toggle="offCanvasMenu" style="z-index: 1001"><svg class="icon icon-sort"><use xlink:href="/assets/icons/symbol-defs.svg#icon-sort"></use></svg></a>
  </div>
</header>